@charset "UTF-8";


html {
  height: 100%;
}

body {
  overflow: hidden;
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  min-height:100%;
}
input[type=checkbox].subToDo{
  margin-left: 15px;
}

